<!-- src/app/components/game/game.component.html -->
<div class="game-container">
  <div class="hud">
    <div>Points: {{ game.score$ | async }}</div>
    <div>Time: {{ game.time$ | async }} sec</div>
  </div>

  <img src="assets/logo.png" alt="Logo" class="logo-small">

  <ng-container *ngIf="isBrowser">
    <img *ngFor="let d of ducks" class="duck {{d.type}}" [ngStyle]="{ left: d.x + '%', top: d.y + '%' }"
      (click)="clickDuck(d)" src="assets/duck-{{d.type}}.png" alt="Pato {{d.type}}">
  </ng-container>

  <div class="legend">
    <div><img src="assets/duck-yellow.png" alt=""><span>+1 pt / +1s</span></div>
    <div><img src="assets/duck-red.png" alt=""><span>+5 pt / +2s</span></div>
    <div><img src="assets/duck-blue.png" alt=""><span>-3 pt</span></div>
  </div>

  <img src="assets/hunter-game.png" alt="Cazador" class="hunter-game">
</div>
<audio id="bg-audio" src="assets/background-music.mp3" autoplay loop preload="auto" style="display: none;">
  Tu navegador no soporta audio de fondo.
</audio>
<video class="background-video" autoplay muted loop playsinline>
    <source src="assets/scroll_effect_3.webm" type="video/webm" />
    <source src="assets/scroll_effect_3.mp4" type="video/mp4" />
    Tu navegador no soporta video en HTML5.
  </video>