<!-- src/app/components/game-over/game-over.component.html -->
<div class="menu-container">
  <img src="assets/hunter-menu.png" alt="Cazador" class="hunter">

  <img src="assets/logo.png" alt="Click The Target" class="logo">

  <!-- Caja de botones -->
  <div class="menu-box">
    <div class="menu-title">GAME OVER :(</div>
    <div class="stats-inside">
      <div class="stats-label">SCOREBOARD</div>
      <div class="stats-value"><span>Points:</span>  {{ finalScore }}</div>
      <div class="stats-value"><span>Hunt Time:</span> {{ huntTime }}</div>
      <div class="stats-value"><span>Best Score:</span> {{ bestScore }}</div>
    </div>

    <button class="menu-item" (click)="reiniciar()">
      <img src="assets/icon-restart.png" alt="Reiniciar" class="icon">
      Restart
    </button>

  </div>
</div>