@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

:root {
  --color-primary: #00B1FF;
  --color-secondary: #49DB00;
  --color-accent: #FDC300;
  --color-white: #F3FAF6;
  --color-black: #121212;
  --color-red: #D33323;
}

/* La tipografía */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Pixelify Sans', sans-serif;
  color: var(--color-black);
  background: url('/assets/bg.png') no-repeat center bottom;
  background-size: cover;
}