<div class="menu-container">
  <img src="assets/hunter-menu.png" alt="Cazador" class="hunter">

  <!-- Logo centrado -->
  <img src="assets/logo.png" alt="Click The Target" class="logo">

  <div class="menu-box">
    <div class="menu-title">-- MENU --</div>

    <button class="menu-item" (click)="iniciarJuego()">
      <img src="assets/icon-start.png" alt="Play" class="icon">PLAY GAME
    </button>

    <button class="menu-item" (click)="verPuntuaciones()">
      <img src="assets/icon-trophy.png" alt="Scores" class="icon">SCOREBOARD
    </button>

    <button class="menu-item" (click)="abrirOpciones()">
      <img src="assets/icon-settings.png" alt="Options" class="icon">OPTIONS
    </button>

    <button class="menu-item" (click)="salir()">
      <img src="assets/icon-exit.png" alt="Exit" class="icon">EXIT
    </button>
  </div>

</div>
